{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li><b style="color: blue">{{ student.name }}</b> {{ student.group }} <br>
      <u>Преподаватель:</u>
            <ul>
        {% for obj_teacher in student.teacher.all %}
              <li><i style="color: green">{{ obj_teacher.name }}</i>, {{ obj_teacher.subject }}</li>
        {% endfor %}
      </ul>


   {% endfor %}

  </ul>
</div>
{% endblock %}
